*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

body {
	padding: 1rem;
	width: 100%;
	font-weight: 100;
	background-color: #161853;
	color: #FAEDF0;
	font-family: 'Inter', sans-serif;
}
